@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablets */
    section#login{
        width: 90vw;
        display: flex;
        
    }
    section#login >div#imagem{
      
        width: 30%;
        height: 100%;
    }
    section#login>div#formulario{
        margin: auto;
        height: 50%;
        width: 70%;
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.411);
        
    }
    form{
        width: 200px;
        
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.411);
        margin-top: 30px;
        display: flex;
        flex-direction: column; /* Organiza os elementos em coluna */
        gap: 10px; /* Espaço entre os elementos */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }
    input {
        border-radius: 8px;
        width: 200px;
        padding: 5px;
    }
    form>div#campo{
        display: block;
        height: 42px;
        width: 224px;
        border-radius: 8px;
    
        background-color: rgb(157, 75, 252);
    }
    
    form>input[type=submit]{
        margin-top: 15px;
        width: 214px;
        
        }
    }
    form > a.botao{
        
        
        
        width: 214px;
        height: 40px;
}
    @media screen and (min-width: 992px) { /* PC */
        section#login {
            display: flex;  /* Ativa o Flexbox */
        flex-direction: row;  /* Mantém os elementos lado a lado */
        justify-content: space-between; /* Garante espaçamento */
        align-items: center; /* Alinha verticalmente (opcional) */
        width: 990px;  /* Define a largura do container */
        margin: 0 auto; /* Centraliza na tela */
        }
        
        section#login > div#imagem {
            width: 50%;
            height: 100%;
        }
        
        section#login > div#formulario {
            margin: auto;
            width: 50%;
            text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.411);
          
        }
        
        form{
            width: 200px;
            text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.411);
            margin-top: 20px;
            display: flex;
            flex-direction: column; /* Organiza os elementos em coluna */
            gap: 10px; /* Espaço entre os elementos */
            align-items: flex-start; /* Alinha os itens à esquerda */
        }
        input {
    

            width: 200px;
            padding: 5px;
        }
        form>div#campo{
    display: block;
    height: 41px;
    width: 225px;
    border-radius: 5px;

    background-color: rgb(157, 75, 252);
}

        form>input[type=submit]{
            margin-top: 15px;
            width: 214px;
            
            }
        }
        form > a.botao{
            
            
            
            width: 214px;
            height: 40px;
           
            
        
    }
